@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "regular";
  scroll-behavior: smooth;
}


@layer base {
  @font-face {
    font-family: "bold";
    src: url("../../public/Fonts/Bold.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "regular";
    src: url("../../public/Fonts/Regular.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }

  body {
    @apply bg-black text-white
  }

  h1 {
    @apply font-bold uppercase
  }
  
  h2 {
    @apply font-bold
  }

  h3 {
    @apply font-bold
  }

  .logos {
    @apply overflow-hidden p-16 whitespace-nowrap
  }

  .logo-slider {
    @apply inline-block animate-carosale
  }

  .services-card {
    @apply grid gap-5 bg-gray-900 p-5 rounded-3xl hover:scale-110 transition-all ease-in-out duration-300
  }

  .pro-card {
    @apply bg-gray-900 rounded-2xl lg:flex grid items-center gap-10 w-full p-5 hover:scale-105 cursor-pointer transition-all ease-in-out duration-300
  }

  .input {
    @apply w-full p-5 rounded-2xl bg-gray-900 focus:ring-0 border-none
  }
}
